<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to my site!</title>
</head>
<body>
<form method="post" action="/convertedValuta">
    <input name="valuta1" type="text" placeholder="USD, DKK...">
    <br/>
    <br/>
    <input name="value" type="number" placeholder="Indsæt værdi...">
    <br/>
    <br/>
    <input name="valuta2" type="text" placeholder="USD, DKK...">

    <input type="submit" value="Send">
</form>
    <th>
        <p th:text="${session.convert}"><p/>
    </th>
    <th>
        <p th:text="${session.firstValuta}"><p/>
    </th>
    <th>
        <p th:text="${session.secondValuta}"><p/>
    </th>
    <th>
        <p th:text="${session.result}"><p/>
    </th>
</body>
</html>